{% extends 'base.html.twig' %}

{% block body %}
    <h1>Album</h1>

    <table class="table table-responsive table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ album.id }}</td>
            </tr>
            <tr>
                <th>Titre album</th>
                <td>{{ album.titreAlbum }}</td>
            </tr>
            <tr>
                <th>Artiste</th>
                <td>{{ album.artiste }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ album.genre }}</td>
            </tr>
            <tr>
                <th>Support</th>
                <td>{{ album.support }}</td>
            </tr>
            <tr>
                <th>Commentaires</th>
                <td>
                    <table class="table table-responsive table-striped">
                        <tbody>
                            {% for key, commentaire in album.commentaires %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td>{{commentaire.utilisateur}}</td>
                                    <td>{{commentaire.commentaire}}</td>
                                    <td><a href="{{ path('comment_delete',{'id': commentaire.id}) }}">Delete</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comment_new',{'id':album.id}) }}">Add Comment</a>
        </li>
        <li>
            <a href="{{ path('_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('_edit', { 'id': album.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
